# Ignore local environment variables
.venv
.env

# Ignore dependency directories
venv/
env/
# Ignore log files
*.log

# Ignore IDE specific folders
.vscode/
.idea/
__pycache__/

# Keep this specific log even though *.log is ignored